*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/*  ESTILOS ANDROID MENU */
nav{
    width: 90%;
    float: left;
    background-color: #1a759f;
    transition: all 0.25s ease;
}

header{
    position: fixed;
    width: 100%;
}
.nav.active{
    background-color: aliceblue;
    padding: 12px;
}

header nav{
    margin: 0px auto;
    position: relative;
    left: -100%;
}

.head h2{
    text-align: left;
    font-size: 22px;
    color: white;
}

.menu_bar{
    background-color:#184e77;
    padding: 10px;
    display: block;
    font-size: 22px;
    font-style: italic;
}
.menu_bar span{
    float: right;
}

.menu_bar a{
    font-size: large;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: none;  
    border-bottom: 1px solid rgba(192, 207, 191, 0.699);
    margin-left: -2%; 
}

header nav ul li a{
    color: white;
    padding:4%;
    display: block;
    text-decoration: none;
}

header nav ul :hover{
    padding:4%;
    background-color: #34a0a4;
}

.cajas{
    margin: 6% 4%;
}

.cajas h3{
    font-size: medium;
    font-style: oblique;
    font-weight: 100;
    color: white;
}

.caja1 , .caja2{
    padding: 6%;
    display: inline-block;
    align-items: center;
    border-radius: 10px;
    background-color: #184e77;
    box-shadow: 4px 8px 4px 4px rgba(0, 0, 0, 0.342);
    transition: all 0.25s ease;
    margin-left: 9%;
}

.caja1:hover , .caja2:hover{
    background-color: #34a0a4;  
    color: black;
}

@media (max-width: 380px) {
    
.caja1 , .caja2{
    padding: 5%;
}

}

@media (max-width: 350px) {   
    .caja1 , .caja2{
        padding: 4%;
    }

    .cajas h3{
        font-size: small;
        font-style: oblique;
        font-weight: 100;
        color: white;
    }
}

.subtema{
    font-size: 12px;
}

.inicioIMG{
    width: 380px;
    margin-top: -36%;
    margin-left: 0px;
    border-radius: 20px;
}

.videoWelcome{
    flex-wrap: wrap;
    width: 90%;
    margin-left: 6%;
    border-radius: 12px;
    display: flexbox;
    box-shadow: 7px 10px 10px 0px rgba(0, 0, 0, 0.342);
}

.estadisticas{
    margin-left: 10%;
    margin-top: -6px;
    border-radius: 12px;
    width: 80%;
    align-items: center;
    box-shadow: 4px 8px 4px 4px rgba(0, 0, 0, 0.342);
}

.estadisticas2{
    flex: auto;
    border-radius: 12px;
    margin-left: 34px;
    width: 80%;
    box-shadow: 4px 8px 4px 4px rgba(0, 0, 0, 0.342);
}

.subtitulos{
    text-align: center;
    font-size: 18px;
    margin-top: 4%;
    color: #184e77;
}

.estadisticasTexto{
    font-size: 14px;
    text-align: justify;
    margin: 8px 30px;
    
}

.ImagenAcercade{
    width:90%;
    margin-left: 7%;
}

.estadisticas3{
    width: 90%;
    margin-left: 5%;
    border-radius: 6px;
}

.contagio{
    width: 84%;
    margin-left: 7%;
    border-radius: 20%
}

.listaRecomienda{
    margin: 6% 20%;
    font-size: 13px;
}
.listaRecomienda li{
    margin: 6%;
    text-align: justify;
}

.test{
    margin: 6% 10%;
}

.test label{
    font-size: 16px;
}

.contenedorInputs{
    margin: 5% 10%;
}

.botonR{
    border-radius: 12px;
    border: 2px dotted #34a0a4;
    background-color: #1a759f;
    padding: 4%;
    margin: 10% 34%;
    color: white;
} 

.botonR:hover{
    background-color: #34a0a4;
} 

